html {
  font-family: "Work Sans";
  font-size: 16px;
}

.page {
  width: 1400px;
  margin: auto;
  /* height: 710px; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-color {
  background-color: #F3C6BD;
  padding-top: 39px;
}

.header {
  display: flex;
  width: 1140px;
  height: 62px;
  margin: auto;
}
.header__button {
  height: 48px;
  width: 160px;
  border-radius: 2px;
}

.logo {
  display: flex;
  font-size: 18px;
}
.logo__image {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  border-radius: 14px;
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__name {
  font-size: 20px;
  font-weight: 700;
}
.logo__description {
  color: #2B292D;
  opacity: 0.6;
}

.navigation {
  display: flex;
  width: 273px;
  justify-content: space-between;
  margin-left: auto;
  font-size: 18px;
  margin-top: 7px;
  margin-right: 75px;
}
.navigation__item {
  color: #2B292D;
  text-decoration: none;
}
.navigation__item-selected {
  font-weight: 700;
}
.navigation__arrow {
  width: 8px;
  height: 5px;
  display: inline-block;
  background-image: url(img/Arrow.png);
  margin-left: 11px;
}

.header__button {
  background-color: #3040C4;
  color: #fff;
  font-weight: 700;
  border: none;
}

.footer {
  height: 389px;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.footer__info {
  height: 338px;
  margin-left: 130px;
  display: flex;
  margin-right: 226px;
}
.footer__logo {
  margin-top: 48px;
}
.footer__description {
  width: 360px;
  height: 85px;
  color: rgba(43, 41, 45, 0.6);
  line-height: 26px;
  font-size: 18px;
}
.footer__downloads {
  margin-top: 25px;
}
.footer__downloads-item {
  margin-left: 10px;
}

.additional-navigation {
  display: flex;
  width: 559px;
  height: 231px;
  margin-top: 60px;
  margin-left: auto;
}

.nav-links__title {
  width: 212px;
  height: 28px;
  margin: 0;
  margin-bottom: 18px;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color: #2b292d;
}

.nav-links__list {
  width: 265px;
  height: 185px;
  padding: 0;
}

.nav-links__list-item {
  font-size: 18px;
  line-height: 30px;
  list-style-type: none;
  color: rgba(43, 41, 45, 0.6);
}

.footer__line {
  border-top: 1px solid #2B292D;
  width: 100%;
  opacity: 0.1;
  margin: 0;
}

.footer__links {
  display: flex;
  width: 1140px;
  height: 50px;
  margin: 0 auto;
  opacity: 1;
}

.footer__navigation {
  width: 1140px;
  margin: 0 auto;
  margin-left: auto;
}

.footer__navigation-item {
  text-decoration: none;
  color: #2B292D;
  opacity: 0.6;
  font-size: 14px;
  line-height: 50px;
  margin-right: 22px;
}

.social-links {
  display: flex;
  /* width: 97px; */
  height: 18px;
  margin: auto 0;
  margin-right: 132px;
}
.social-links__twitter {
  width: 21px;
  height: 16px;
  margin-bottom: 1px;
}
.social-links__facebook {
  width: 18px;
  height: 17px;
  margin-left: 20px;
}
.social-links__linkedin {
  width: 18px;
  height: 17px;
  margin-left: 20px;
  margin-bottom: 1px;
}

/*# sourceMappingURL=styles.css.map */
